.content {
  border-top: 1px solid #ddd;
  font-size: 12px;
  width: inherit;
  display: flex;
}

.content div {
  padding-left: 8px;
  align-content: center;
  min-height: 40px;
}
.content:hover {
  background-color: #87aaec;
  color: #fff;
}
.check-box {
  width: 4%;
  padding: 0px !important ;
  text-align: center !important;
  align-content: center !important;
}

.check-box-head {
  border-left: none;
}

.roomID {
  width: 19%;
}

.room-price {
  width: 7%;
}

.room-description {
  width: 28%;
  padding-right: 15px;

  /* CSS for Overview: if content is overflow then cut down content and insert three dot (content overflow...) */
  white-space: nowrap; /* Giới hạn văn bản trong một dòng */
  overflow: hidden; /* Ẩn phần văn bản thừa */
  text-overflow: ellipsis; /* Thêm dấu ba chấm khi văn bản quá dài */
}

.max-people {
  width: 10%;
}

.room-title {
  width: 19%;
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  width: 13%;
}
.delete-btn {
  border: 1px dotted #f00;
  border-radius: 5px;
  padding: 3px 6px;
  width: fit-content;
}

.delete-btn:hover {
  background-color: #f00;
  color: #ffff00;
  font-weight: bold;
}

.edit-btn {
  border: 1px dotted rgb(112, 134, 228);
  outline: none;
  border-radius: 5px;
  padding: 3px 12px;
  width: fit-content;
  background-color: rgb(112, 134, 228);
  color: #fff;
  text-decoration: none;
}

.edit-btn:hover {
  background-color: rgb(15, 165, 15);
  font-weight: bold;
}
